# Virtual environments
.venv/

# Python cache
__pycache__/
*.py[cod]

# Packaging
*.egg-info/
build/
dist/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/

# User-specific files
notes/